
NODE_ENV=production
CORS_ORIGIN=*

# Database Configuration
# Option A: Standard MongoDB URI (e.g. mongodb+srv://... or mongodb://127.0.0.1:27017/patient_portal)
MONGODB_URI=mongodb+srv://luckydental:connect@luckydental.sxe1d9g.mongodb.net/?appName=luckydental

# Option B: NafijRahaman DB API Key from https://db.nafij.me/dashboard
NAFIJ_DB_KEY=nrdb_live_ee4a9fc821dfddfba10be49aed2f3a1363e9b6808f6233ff

# Auth Configuration
JWT_SECRET=dev_secret_key_3663663jdhgrehh3561547198126464281746
ADMIN_DEFAULT_EMAIL=admin@luckydental.com
ADMIN_DEFAULT_PASSWORD=luckydental

# Cloudinary Permanent Media Storage
CLOUDINARY_CLOUD_NAME=mahkgdyp
CLOUDINARY_API_KEY=711128165675368
CLOUDINARY_API_SECRET=6F1B4r6ZFDxadG9jPwq4mL1dTPc

# Image Processing & Staging Cache Limits
MAX_PROFILE_IMAGE_SIZE_MB=1
UPLOAD_TEMP_MAX_AGE_MINUTES=60

